@model GummiBearKingdom.Models.Product

<h2>Create</h2>
<hr />
<h4>Add a new Product</h4>


@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
   

        @Html.LabelFor(model => model.Cost)
        @Html.TextBoxFor(model => model.Cost)
        
      

        @Html.LabelFor(model => model.Coo)
        @Html.TextBoxFor(model => model.Coo)



    <input type="submit" value="Create" />

}