@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model GummiBearKingdom.Models.Blog

<h1>Add Comment</h1>
<hr />
<br />
<h2>Add a new Comment</h2>
<br />

@using (Html.BeginForm())
{
    <h2>
        @Html.LabelFor(model => model.Title)
        @Html.TextBoxFor(model => model.Title)
    </h2>


    <h2>
        @Html.LabelFor(model => model.Author)
        @Html.TextBoxFor(model => model.Author)
    </h2>



    <h2>
        @Html.LabelFor(model => model.Text)
        @Html.TextBoxFor(model => model.Text)
    </h2>



    <input type="submit" value="Create" />

}
