@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model GummiBearKingdom.Models.Blog

<h2>Edit</h2>
<hr />


@using (Html.BeginForm())


{

    <h1> @Html.HiddenFor(model => model.BlogId)</h1>


    <h1>
        @Html.LabelFor(model => model.Title)
    </h1>
    <h1>
        @Html.TextBoxFor(model => model.Title)
    </h1>

    <h1>
        @Html.LabelFor(model => model.Author)
    </h1>
    <h1>
        @Html.TextBoxFor(model => model.Author)
    </h1>

    <h1>
        @Html.LabelFor(model => model.Text)
    </h1>
    <h1>
        @Html.TextBoxFor(model => model.Text)
    </h1>



    <input type="submit" value="Save" />
}


<p>@Html.ActionLink("Back to list", "Index")</p>
